@model CreatePersonViewModel

@{
    ViewData["Title"] = "Create New Person";
}

@if (Model.Errors.Any())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Errors occured.</strong>
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismissible="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <partial name="_CreatePersonInput" model="@Model.NewPerson" />
    </div>
</div>