@model CreatePersonViewModel

@{
    ViewData["Title"] = "Create New Person";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full">
    <div class="pr-breadcrumbs">
        <ul>
            <li><a asp-controller="Persons" asp-action="Persons">People</a></li>
            <li>Add New Member</li>
        </ul>
    </div>
    @if (Model.Errors.Any())
    {
        <div class="pr-form-message" role="alert">
            @foreach (var error in Model.Errors)
            {
                <span>@error</span>
            }
        </div>
    }

    <div class="flex-grow w-full">
        <form method="POST" asp-controller="Persons" asp-action="Create">
            <div class="pr-form-field pl-5">
                <div>
                    <div class="pr-form-header">
                        Add a Member
                    </div>
                    <div class="pr-form-header-description">
                        Create an account for a new member of your organization. Their account can be added to projects even if they are not verified yet.
                    </div>
                </div>
                <div class="divider"></div>
                <partial name="_CreatePersonInput" model="@Model.NewPerson" />
                <div class="mt-5">
                    <input type="submit" value="Add Member" class="pr-btn-primary" />
                    <a asp-controller="Persons" asp-action="Persons" class="pr-btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>