@model DeletePersonViewModel

@{
    ViewData["Title"] = "Delete Person";
    Layout = "_Authenticated";
}


<div class="flex flex-col w-full h-full space-y-4">
    <div class="card card-compact CardPrompt-Danger">
        <div class="card-body">
            <h2 class="CardHeader">Are you sure you want to remove this person?</h2>
            <p>This person will be removed from all project they are currently assigned to.</p>
        </div>
    </div>
    <div>
        <h2 class="DetailsHeader">@Model.Person.FullName</h2>
        <dl>
            <dt>Email Address</dt>
            <dd>@Model.Person.User.UserName</dd>
        </dl>
    </div>
    <div>
        <form method="POST" asp-controller="Persons" asp-action="Delete">
            <div>
                <input asp-for="@Model.Person.Id" type="hidden" class="form-control" />
                <input type="submit" value="Yes, Delete" class="Danger FormButton" />
                <a asp-controller="Persons" asp-action="Details" asp-route-personId="@Model.Person.Id" class="Neutral FormButton">Cancel</a>
            </div>
        </form>
    </div>
</div>
