@model EditPersonViewModel

@{
    ViewData["Title"] = "Create New Person";
}

@if (Model.Errors.Any())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Errors occured.</strong>
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismissible="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-controller="Persons" asp-action="Edit">
            <partial name="_CreatePersonInput" model="@Model.EditableValues" />
            <br />
            <div class="form-group">
                <input type="submit" value="Edit Account" class="btn btn-primary" />
                <a asp-controller="Persons" asp-action="Persons" class="btn btn-secondary">Back to List</a>
                <a asp-controller="Persons" asp-action="Details" asp-route-projectId="@Model.PersonId" class="btn btn-secondary">View Details</a>
            </div>
        </form>
    </div>
</div>