<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projector</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container mx-auto max-w-screen-lg h-screen min-h-full px-2" style="z-index:1">
        <div class="drawer h-full">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col space-y-4 h-full">
                <header class="pr-header">
                    <!-- DRAWER BUTTON for when window is small -->
                    <div class="flex-none lg:hidden">
                        <label for="my-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pr-btn-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </label>
                    </div>

                    <!-- Menubar -->
                    <div class="flex-1 hidden lg:block ">
                        <div class="flex h-9 items-start space-x-2">
                            @if(ViewData["Area"].Equals("Projects")){
                                <div class="pr-dropdown">
                                    <a asp-controller="Projects" asp-action="Projects" class="pr-btn-ghost-selected uppercase">Projects</a>
                                </div>
                                <div class="pr-dropdown">
                                    <a asp-controller="Persons" asp-action="Persons" class="pr-btn-ghost uppercase">People</a>
                                </div>
                            }else{
                                <div class="pr-dropdown">
                                    <a asp-controller="Projects" asp-action="Projects" class="pr-btn-ghost uppercase">Projects</a>
                                </div>
                                <div class="pr-dropdown">
                                    <a asp-controller="Persons" asp-action="Persons" class="pr-btn-ghost-selected uppercase">People</a>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Logout -->
                    <div class="flex-none hidden lg:block">
                        <div class="flex h-9 items-center space-x-1">
                            <div class="pr-dropdown-end">
                                <label tabindex="0" class="pr-dropdown-label">
                                    <span class="pr-user-name">@User.Identity?.Name</span>
                                </label>
                                <ul tabindex="0" class="dropdown-content pr-dropdown-menu-end">
                                    <li class="pr-dropdown-menu-item">
                                        <a class="pr-menu-link" asp-controller="Users" asp-action="LogOut">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pr-btn-icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                                            </svg>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>

                <main class="flex w-full h-full space-x-4">
                    <div class="w-full">
                        @RenderBody()
                    </div>
                </main>
                <div class="divider"></div>
                <footer class="flex w-full pb-3">
                    &copy; 2023 - Projector
                </footer>
            </div>
            <div class="drawer-side" style="z-index:2">
                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full bg-base-200">
                    <!-- Sidebar content here -->
                    <li>
                        <h2 class="menu-title text-black-500">@User.Identity?.Name</h2>
                    </li>
                    <li>
                        <h2 class="menu-title">Projects</h2>
                        <ul>
                            <li>
                                <a asp-controller="Projects" asp-action="Projects">My Projects</a>
                            </li>
                            <li>
                                <a asp-controller="Projects" asp-action="Create">New Project</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="menu-title">People</h2>
                        <ul>
                            <li>
                                <a asp-controller="Persons" asp-action="Persons">All Persons</a>
                            </li>
                            <li>
                                <a asp-controller="Persons" asp-action="Create">Add a Person</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-title">
                        <div class="divider"></div>
                    </li>
                    <li>
                        <div class="w-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="black" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" /></svg>
                            <a asp-controller="Users" asp-action="LogOut" class="flex flex-row w-full min-w-full">
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
