<!DOCTYPE html>
<html lang="en" data-theme="corporate" class="bg-gray-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projector</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container mx-auto" style="z-index:1">
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col space-y-4">
                <header class="w-full navbar bg-neutral text-neutral-content rounded-b-md shadow">
                    <div class="flex-none lg:hidden">
                        <label for="my-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                        </label>
                    </div>
                    <div class="flex-1 px-2 mx-2">Projector</div>

                    <div class="flex-none hidden lg:block">
                        <div class="dropdown dropdown-end">
                            <label tabindex="0" class="w-full btn btn-ghost btn-circle avatar px-3">
                                <span class="font-bold ">@User.Identity?.Name</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" /></svg>
                            </label>
                            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-gray-100 text-black-500 rounded w-full">
                                <li class="w-full hover:bg-default hover:text-default-content">
                                    <a class="justify-between text-black px-2" asp-controller="Users" asp-action="LogOut"> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <main class="flex w-full space-x-4">
                    <div class="flex-none hidden lg:block shadow bg-base-200 rounded-md ">
                        <ul class="menu w-56 rounded-box">
                            <li>
                                <h2 class="menu-title">Projects</h2>
                                <ul>
                                    <li>
                                        <a asp-controller="Projects" asp-action="Projects">My Projects</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Projects" asp-action="Create">New Project</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2 class="menu-title">People</h2>
                                <ul>
                                    <li>
                                        <a asp-controller="Persons" asp-action="Persons">All Persons</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Persons" asp-action="Create">Add a Person</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="w-full">
                        @RenderBody()
                    </div>
                </main>
                <footer class="flex w-full">
                    &copy; 2023 - Projector
                </footer>
            </div>
            <div class="drawer-side" style="z-index:2">
                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full bg-base-200">
                    <!-- Sidebar content here -->
                    <li>
                        <h2 class="menu-title text-black-500">@User.Identity?.Name</h2>
                    </li>
                    <li>
                        <h2 class="menu-title">Projects</h2>
                        <ul>
                            <li>
                                <a asp-controller="Projects" asp-action="Projects">My Projects</a>
                            </li>
                            <li>
                                <a asp-controller="Projects" asp-action="Create">New Project</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="menu-title">People</h2>
                        <ul>
                            <li>
                                <a asp-controller="Persons" asp-action="Persons">All Persons</a>
                            </li>
                            <li>
                                <a asp-controller="Persons" asp-action="Create">Add a Person</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-title">
                        <div class="divider"></div>
                    </li>
                    <li>
                        <div class="w-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="black" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" /></svg>
                            <a asp-controller="Users" asp-action="LogOut" class="flex flex-row w-full min-w-full">
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
