@using Projector.Core.Projects.DTO
@model ProjectDetailsData

<h6><strong>Assigned Employees</strong></h6>
<ul class="list-group">
    @foreach (var member in Model.Assigned)
    {
        <li class="list-group-item">
            <form id="Remove-@member.Id" class="RemovePersonFromProjectForm" method="post" asp-action="Remove" asp-controller="Projects">
                <span id="removeError-@member.Id" class="text-danger RemoveError"></span>
                <div class="row">
                    <div class="col align-self-center" style="width:80%">
                        <label>@member.FullName</label>
                    </div>
                    <div class="col-2" style="width:20%">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="projectId-@member.Id" class="projectId" value="@Model.Id" />
                        <button style="width:100%" class="btn btn-danger RemoveButton" type="button" value="@member.Id">
                            Remove
                        </button>
                    </div>
                </div>
            </form>
        </li>
    }
</ul>
