@using Projector.Core.Projects.DTO
@model ProjectDetailsData


<div class="pr-list">
    @foreach (var member in Model.Assigned)
    {
        <form id="Remove-@member.Id" class="RemovePersonFromProjectForm" method="post" asp-action="Remove" asp-controller="Projects">
            <div class="pr-list-item">
                <div>
                    <p class="pr-list-item-text">
                        @member.FullName
                    </p>
                    <span id="removeError-@member.Id" class="error-message"></span>
                </div>
                <div>
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="projectId-@member.Id" class="projectId" value="@Model.Id" />
                    <button class="pr-btn-warning-outline ml-auto RemoveButton" type="button" value="@member.Id">
                        Remove
                    </button>
                </div>
            </div>
        </form>
    }
</div>