@using Projector.Core.Projects.DTO
@model ProjectDetailsData

<h6><strong>Assigned Employees</strong></h6>
<ul class="list-group">
    @foreach (var member in Model.Assigned)
    {
        <li class="list-group-item">
            <form>
                <div class="row">
                    <div class="col align-self-center" style="width:80%">
                        <label>@member.FullName</label>
                        <input type="hidden" value="@member.Id" id="personId" />
                    </div>
                    <div class="col-2" style="width:20%">
                        <input style="width:100%" type="button" value="Remove" class="btn btn-danger" onclick="RemoveEmployee()" />
                    </div>
                </div>
            </form>
        </li>
    }
</ul>
