@model ProjectDetailsViewModel

<div class="flex flex-col w-full space-y-4">
    <div class="flex-grow w-full" id="Unassigned">
        <partial name="_UnassignedEmployees" model="@Model.People" />
    </div>
    <hr />
    <div class="flex-col flex-grow" id="Assigned">
        <partial name="_AssignedEmployees" model="@Model.Details" />
    </div>
</div>
