@model ProjectDetailsViewModel

<div class="flex flex-col w-full pr-card">
    <div class="pr-card-header">
        <h3>Project Members</h3>
        <p>List of members assigned to this project.</p>
    </div>
    <div class="pr-card-content space-y-2">
        <div id="Unassigned">
            <partial name="_UnassignedEmployees" model="@Model.People" />
        </div>
        <div id="Assigned">
            <partial name="_AssignedEmployees" model="@Model.Details" />
        </div>
    </div>
</div>
