@using Projector.Core.Projects.DTO
@using System.Globalization;
@model ProjectDetailsData

<div class="pr-card-header">
    <h3 class="pr-card-title">@Model.Name</h3>
    @if (!string.IsNullOrEmpty(Model.Remarks))
    {
        <p class="pr-card-description">@Model.Remarks</p>    
    }
</div>
<div class="pr-card-content">
    <dl class="pr-description-list">
        <div class="pr-description-item">
            <dt class="pr-description-term">Code</dt>
            <dd class="pr-description-data">@Model.Code</dd>
        </div>
        <div class="pr-description-item">
            <dt class="pr-description-term">Budget</dt>
            <dd class="pr-description-data">@Model.Budget.ToString("C2", CultureInfo.CurrentCulture)</dd>
        </div>
    </dl>
</div>
