@model ProjectAssignmentsViewModel
@{
    ViewData["Title"] = "Assignments";
}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <partial name="_ProjectDetails" model="@Model.Details" />
        </div>
        <div class="col-sm-7">
            <div class="row" id="Unassigned">
                <partial name="_UnassignedEmployees" model="@Model.People" />
            </div>
            <hr />
            <div class="row" id="Assigned">
                <partial name="_AssignedEmployees" model="@Model.Details" />
            </div>
        </div>
    </div>
</div>
