@model CreateProjectViewModel

@{
    ViewData["Title"] = "Create New Project";
}

@if (Model.Errors.Any())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Errors occured.</strong>
        <ul>
            @foreach(var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismissible="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-controller="Projects" asp-action="Create">
            <partial name="_CreateProjectInput" model="@Model.Project" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>