@model EditProjectViewModel

@{
    ViewData["Title"] = "Edit Project";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full space-y-4">
    @if (Model.Errors.Any())
    {
        <div class="pr-form-message" role="alert">
            @foreach (var error in Model.Errors)
            {
                <span>@error</span>
            }
        </div>
    }

    <div class="flex-grow w-full">
        <form method="POST" asp-controller="Projects" asp-action="Edit">
            <div class="pr-form-field pl-5">

                <div>
                    <div class="pr-form-header">
                        Modify Project
                    </div>
                    <div class="pr-form-header-description">
                        Change the details of the project here.
                    </div>
                </div>

                <div class="divider"></div>
                <partial name="_CreateProjectInput" model="@Model.Project" />

                <div class="mt-5">
                    <input type="submit" value="Modify Project" class="pr-btn-primary" />
                    <a asp-controller="Projects" asp-action="ProjectDetails" asp-route-projectId="@Model.Project.Id" class="pr-btn-secondary">View Project Details</a>
                </div>
            </div>
        </form>
    </div>
</div>
