@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full h-full space-y-4">
    <div class="grid grid-cols-3 gap-10">
        <div class="col-span-1">
            <div class="card card-compact CardDetails">
                <div class="card-body">
                    <partial name="_ProjectInformation" model="@Model.Details" />
                    <div class="card-actions justify-start">
                        <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@Model.Details.Id" class="Primary FormButton">Edit</a>
                        <a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@Model.Details.Id" class="Danger FormButton">Delete</a>
                        <a asp-controller="Projects" asp-action="Projects" class="Neutral FormButton">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Assignments" class="col-span-2">
            <partial name="_Assignments" model="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ProjectDetailsView.js" asp-append-version="true"></script>
    <script type="text/javascript">
        window.projectDetailsView.initialize();
    </script>
}
