@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "ProjectDetails";
}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <partial name="_ProjectInformation" model="@Model.Details" />
            <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@Model.Details.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@Model.Details.Id" class="btn btn-danger">Delete</a>
            <br />
            <br />
            <a asp-controller="Projects" asp-action="Projects" class="btn btn-secondary">Back to List</a>
        </div>
        <div id="Assignments" class="col-sm-7">
            <partial name="_Assignments" model="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ProjectDetailsView.js" asp-append-version="true"></script>
    <script type="text/javascript">
        window.projectDetailsView.initialize();
    </script>
}
