@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Create New Password";
}

<div>
    <h2>Create New Password</h2>
</div>

@if (Model.Errors.Any())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Errors occured.</strong>
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST" asp-controller="Users" asp-action="CreatePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_NewPasswordInput" model="@Model.NewPassword" />

    <div class="form-group">
        <input type="submit" value="Create New Password" class="btn btn-primary" />
    </div>
</form>