@{
    ViewData["Title"] = "Forgot Password";
}

<main role="main" class="flex h-screen min-h-full flex-col justify-center bg-gray-100">
    <div class="flex flex-col flex-grow place-content-center justify-center">
        <div class="flex flex-row w-full max-w-10xl pb-10 lg:py-12 lg:px-8 place-content-center">
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h1 class="AuthenticationCardTitle">Email Sent!</h1>

                    <p>Reset link was sent to <strong>@Model.emailAddress</strong>.</p>
                    <p>Please check your email inbox and spam folder.</p>

                    <br />
                    <div class="card-actions w-full">
                        <div class="text-center w-full">
                            <a asp-controller="Users" asp-action="SignIn" class="Neutral">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>