@{
    ViewData["Title"] = "Forgot Password";
}

<main role="main" class="flex h-screen min-h-full flex-col justify-center bg-gray-100">
    <div class="flex flex-col flex-grow place-content-center justify-center">
        <div class="flex flex-row w-full max-w-10xl pb-10 lg:py-12 lg:px-8 place-content-center">
            <div class="pr-card w-full max-w-sm">
                <div class="pr-card-header">
                    <h3>Email Sent!</h3>
                </div>
                <div class="pr-card-content">
                    <p>Reset link was sent to <strong>@Model.emailAddress</strong>.</p>
                    <p>Please check your email inbox and spam folder.</p>
                </div>
                <div class="pr-card-footer">
                    <a asp-controller="Users" asp-action="SignIn" class="pr-btn-primary w-full">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</main>