@{
    ViewData["Title"] = "Forgot Password";
}

<main role="main" class="flex h-screen min-h-full flex-col justify-center bg-gray-100">
    <div class="flex flex-col flex-grow place-content-center justify-center">
        <div class="flex flex-row w-full max-w-10xl pb-10 lg:py-12 lg:px-8 place-content-center">
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h1 class="AuthenticationCardTitle">RESET PASSWORD</h1>
                    <div class="card-actions w-full">
                        <form class="w-full" method="POST" asp-controller="Users" asp-action="ForgotPassword">
                            <div class="InputGroupXS">
                                <label class="Input" for="emailAdd">Email Address</label>
                                <input class="InputXS" name="emailAdd" type="email" class="form-control" />
                            </div>
                            <br />
                            <input type="submit" value="Forgot Password" class="Neutral" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

