@{
    ViewData["Title"] = "Forgot Password";
}

<main role="main" class="flex h-screen min-h-full flex-col justify-center bg-gray-100">
    <div class="flex flex-col flex-grow place-content-center justify-center">
        <div class="flex flex-row w-full max-w-10xl pb-10 lg:py-12 lg:px-8 place-content-center">
            <div class="pr-card w-full max-w-sm">
                <div class="pr-card-header">
                    <h3 class="pr-card-title">Reset Password</h3>
                    <p class="pr-card-description">The password reset link will be sent to your email address.</p>
                </div>
                <form class="pr-form w-full" method="POST" asp-controller="Users" asp-action="ForgotPassword">
                    <div class="pr-card-content">
                        <div class="pr-form-field w-full">
                            <div class="pr-form-item">
                                <label class="pr-form-item-label" for="emailAdd">Email Address</label>
                                <input class="pr-input" name="emailAdd" type="email" />
                            </div>
                        </div>
                    </div>
                    <div class="pr-card-footer">
                        <input type="submit" value="Forgot Password" class="pr-btn-primary w-full" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

