@model RegisterViewModel

@{
    ViewData["Title"] = "Register User";
}

<main role="main" class="flex h-screen min-h-full flex-col justify-center bg-gray-100">
    <div class="flex flex-col flex-grow place-content-center justify-center">
        <div class="flex flex-row w-full max-w-10xl pb-10 lg:py-12 lg:px-8 place-content-center">
            <div class="pr-card w-full max-w-sm">
                <div class="pr-card-header">
                    <h3 class="pr-card-title">Create an Account</h3>
                    <p class="pr-card-description">Already have an account? <a asp-controller="Users" asp-action="SignIn" class="pr-btn-link">Sign in using your account.</a></p>
                </div>
                <form method="POST" asp-controller="Users" asp-action="Register">
                    <div class="pr-card-content">
                        <div class="w-full">
                            <!--ERRORS-->
                            @if (Model.Errors.Any())
                            {
                                <div role="alert">
                                    @foreach (var error in Model.Errors)
                                    {
                                        <span class="error-message">@error</span>
                                    }
                                </div>
                            }

                            <!--FORM-->
                            <partial name="_RegisterInput" model="Model.NewUser" />
                        </div>
                    </div>
                    <div class="pr-card-footer">
                        <input type="submit" value="Register" class="pr-btn-primary w-full min-w-full" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>