@model SignInViewModel

@{
    ViewData["Title"] = "Sign In";
}

<div>
    <h2>Log In</h2>
</div>

<!-- ERRORS -->
@if (Model.Errors.Any())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Errors occured.</strong>
        <ul>
            @foreach(var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- FORM -->
<div class="row">
    <div class="col-md-4">
        <partial name="_SignInInput" model="Model.User" />
    </div>
</div>